body {
    margin: 0;
    padding: 0;
    background-color: #262626;
}

.ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    color: rgba(0, 132, 255, 0.781);
    letter-spacing: 5px;
    text-shadow: 0 0 10px  rgba(0, 132, 255, 0.781);
    box-shadow: 0 0  20px rgba(0,0,0,0.5);
}

.ring:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid  rgba(0, 132, 255, 0.781);
    border-right: 3px solid  rgba(0, 132, 255, 0.781);
    border-radius: 50%;
    animation:  aniamteCircle 2s linear infinite;
}

span {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background-color: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
}

span:before {
    content: '';
    position: absolute;
    width: 16px;
    background-color:  rgba(0, 132, 255, 0.781);
    height: 16px;
    border-radius: 50%;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px  rgba(0, 132, 255, 0.781);
}

.footer p {
    color: #eaeaeac2;
    position: absolute;
    bottom: 0;
    left: 30px;
    font-size: 13px;
}



@keyframes aniamteCircle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}